@model LibraryManagementWebApp.Models.Жанры

<h2>Добавить жанр</h2>
<form asp-action="Create">
    <div>
        <label asp-for="ID_жанра"></label>
        <input asp-for="ID_жанра" />
    </div>
    <button type="submit">Сохранить</button>
</form>