@model List<LibraryManagementWebApp.Models.Жанры>

<h2>Жанры</h2>
<a asp-action="Create">Добавить жанр</a>
<table>
    <thead>
        <tr>
            <th>ID жанра</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var жанр in Model)
        {
            <tr>
                <td>@жанр.ID_жанра</td>
            </tr>
        }
    </tbody>
</table>