body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task {
    margin-bottom: 20px;
}

.but{
    width: 16%;
    display: block;
} 
.butt{
 width: 100%
}

.task button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    text-align: left;
}

.task button:hover {
    background-color: #45a049;
}

.content {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.sub-task h3 {
    cursor: pointer;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 10px;
}

.sub-content {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.output {
    margin-top: 10px;
    padding: 10px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
}